<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<title>Todo App</title>
</head>
<body ng-app="todo" ng-controller="todoctrl" >
<h2> ToDo App</h2>
	<form ng-submit="todoAdd()">
		<input type="text" ng-model="todo_input" placeholder="Add new item" size="77">
		<br><br>
		<input type="submit" name="Add item" value="Add item">
	</form>
<br>

<div ng-repeat="x in todolist" >
	<input type="checkbox" ng-model="x.done"> <span ng-bind="x.todoText"></span>
</div>

<div>
	<button ng-click="remove()">Remove Marked</button>
</div>

<script>
	var app=angular.module('todo',[]); 	
	app.controller('todoctrl',function($scope){	
	    $scope.todolist = [];
		$scope.todoAdd=function() {
		$scope.todolist.push({todoText:$scope.todo_input, done:false});
        $scope.todo_input = "";
    };

        $scope.remove = function() {
        var oldList = $scope.todolist;
        $scope.todolist = [];
        angular.forEach(oldList, function(x) {
            if (!x.done) $scope.todolist.push(x);
        });
    };
		});
	
</script>
</body>
</html>